<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5aa045027a.js"></script>
    <script src="{% static 'music/js/main.js' %}"></script>

</head>

<body>

   <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid">

            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'music:index' %}">Mu$ica</a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link text-white {% block albums_active %}{% endblock %}" href="{% url 'music:index' %}">
                            <i class="fas fa-compact-disc" aria-hidden="true"></i>&nbsp; Albums
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% block songs_active %}{% endblock %}" href="{% url 'music:songs' 'all' %}">
                            <i class="fas fa-music" aria-hidden="true"></i>&nbsp; Songs
                        </a>
                    </li>
                </ul>
                <form class="form-inline" role="search" method="get" action="{% url 'music:index' %}" style="margin-left: 0.1%;">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search">
                    </div>
                </form>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'music:create_album' %}">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i>&nbsp; Add Album
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'music:logout_user' %}">
                            <i class="fas fa-power-off" aria-hidden="true"></i>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

{% block body %}
{% endblock %}

</body>

</html>